<footer>
    <div style="background-color: #333; color: #fff; text-align: center; padding: 10px;">
        &copy; 2023 Chiran Raj Thapa |
        <a href="https://github.com/Xiran23" style="color: #fff; text-decoration: none; margin: 0 10px;">GitHub</a> |
        <a href="https://www.youtube.com/channel/UCCH7ZKPIIUOkMIPvCsKbg9A"
            style="color: #fff; text-decoration: none; margin: 0 10px;">YouTube</a> |
        <a href="#" style="color: #fff; text-decoration: none; margin: 0 10px;">Facebook</a> |
        <a href="#" style="color: #fff; text-decoration: none; margin: 0 10px;">Twitter</a>
    </div>
</footer>